* {
    font-family: Futura Heavy;
}

#classPicker {
    width: 50%;
    height: 50%;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
}

#calendar {
    /* float: right; */
    width: 50%;
}

#filters {
    width: 50%;
    height: 50%;
}

#slider {
    width: 60%;
}

#classlabel {
    width: 15%;
}

#classtime {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: space-between;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: space-between;
}

.node {
    border-radius: 1000px;
    text-align: center;
    font-size: 10px;
}

.class {
    border: 2px solid black;
    width: 20%;
    height: 10%;
    letter-spacing: 1px;
}

.or {
    background: #FFAAAA;
    border: 2px solid black;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 6px;
    margin-bottom: 6px;
    width: 5%;
}

.and {
    background: #FFAAAA;
    border: 2px solid black;
    margin-left: 7.5%;
    margin-top: 6px;
    margin-bottom: 6px;
    width: 5%;
}

.and:hover, .or:hover {
    cursor: pointer;
}

.searchList {
    margin-top: 0;
    padding: 0;
    background: white;
    position: absolute;
    width: 10%;
    overflow-x: hidden;
    list-style-type: none;
    text-align: center;
}

.listItem {
    text-align: center;
}

.listItem:hover {
    cursor: pointer;
}

/* width */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}

.font {
    -webkit-text-stroke: 0.5px #000000;
    -webkit-text-fill-color: #FFFFFF;
    font-size: 80%;
}

.font:hover {
    cursor: help;
}

.id {
    width: 100%;
}

#days {
    height: 20%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: space-between;
    text-align: center;
}

#daylabel {
    height: 100%;
}

.day {
    height: 100%;
    padding-right: 5%;
}

.daybox {
    margin: 0 auto;
    width: 15px;
    height: 15px;
    border-radius: 30px;
    border: 2px solid black;
}

.daybox[value="checked"] {
    background: red;
}

.daybox[value="unchecked"] {
    background: white;
}