* {
    font-family: Futura Heavy;
}

#classPicker {
    width: 50%;
    height: 50%;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
}

.node {
    border-radius: 1000px;
    text-align: center;
    font-size: 10px;
}

.class {
    border: 2px solid black;
    width: 20%;
    height: 10%;
    letter-spacing: 1px;
}

.or {
    background: #FFAAAA;
    border: 2px solid black;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 6px;
    margin-bottom: 6px;
    width: 5%;
}

.and {
    background: #FFAAAA;
    border: 2px solid black;
    margin-left: 7.5%;
    margin-top: 6px;
    margin-bottom: 6px;
    width: 5%;
}

.and:hover, .or:hover {
    cursor: pointer;
}

.searchList {
    margin-top: 0;
    padding: 0;
    background: white;
    position: absolute;
    width: 10%;
    overflow-x: hidden;
    list-style-type: none;
    text-align: center;
}

.listItem {
    text-align: center;
}

.listItem:hover {
    cursor: pointer;
}