body {
    background: #F3F3F3;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.font, .font:hover {
    color: white;
    -webkit-font-smoothing: antialiased;
}

.fc-event {
    font-weight: bold;
    transition: 50ms ease;
}

.fc-event:hover {
    cursor: pointer;
    /* opacity: 50%; */
    filter: grayscale(0.5);
}

.fc-time-grid .fc-slats td {
    height: 20px;
}

@media screen and (max-width: 800px) {
    .fc-time-grid .fc-slats td {
        height: 30px;

    }
    .fc-event {
        font-size: 0.75em;
    }
    .ui.compact.segment {
        width: 100% !important;
    }
}

@media screen and (max-width: 450px) {
    .fc-center {
        font-size: 0.85em;
    }
    .fc-button {
        font-size: 0.85em;
    }
}

@media screen and (max-width: 415px) {
    .fc-event {
        font-size: 0.6em;
    }
}

@media screen and (max-width: 380px) {
    .fc-center {
        font-size: 0.75em;
    }
    .fc-button {
        font-size: 0.75em;
    }
}
