body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.font, .font:hover {
    color: white;
    -webkit-font-smoothing: antialiased;
}

.fc-event {
    font-weight: bold;
    transition: 50ms ease;
}

.fc-event:hover {
    cursor: pointer;
    /* opacity: 50%; */
    filter: grayscale(0.5);
}
